@font-face {
    font-family: Helvetica Light;
    src: url(../fonts/helvetica/helvetica-light.ttf);
}
@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/helvetica/helveticaneue.ttf);
}
@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/helvetica/helveticaneuebold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Helvetica Neue Medium;
    src: url(../fonts/helvetica/helveticaneuemedium.ttf);
}
@font-face {
    font-family: Helvetica Neue Thin;
    src: url(../fonts/helvetica/HelveticaNeue-Thin.ttf);
}
@font-face {
    font-family: Helvetica Neue Light;
    src: url(../fonts/helvetica/helveticaneuelight.ttf);
}