// Fonts path
$icon-font-path: "../fonts/";
$icon-font-name: "ElegantIcons";

// Color Page
$color-brand        : #a93133;
$color-extra        : #44ef62;
$color-text-content : #666666;
$color-text-title   : #333333;